* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

:root {
    --main-color: #5FAD51;
    --second-color: #094E81;
}

/* start header */



.navbar-brand {
    margin-left: 40px;
}

.nav-link.active,
.nav-link:hover {
    color: var(--main-color) !important;
}

.left-nav .nav-btn .nav-link-btn {
    width: 146px;
    height: 48px;
    border: 1px solid var(--second-color) !important;
    border-radius: 24px;
    background: none;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
}

.left-nav .nav-btn .nav-link-btn:hover {
    background: var(--main-color);
    color: #fff;
    border-color: transparent !important;
}

.left-nav .nav-btn:last-child .nav-link-btn {
    background: var(--main-color)!important;
    color: #fff;
    border: none !important;
}

.left-nav .nav-btn:last-child .nav-link-btn:hover {
    border: 1px solid var(--second-color) !important;
    background: none !important;
    color: var(--second-color);
}
.navbar-collapse.show .left-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
/* end header */